
.pageContent {
}

.band {
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}

.bandContent {
  margin: 0 auto;
  max-width: 1200px;
}

.bandContent.page {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;

  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;

  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}

.topics {
  width: 75%;
  overflow-x: auto;
  padding-bottom: 600px;
}

.topics .tutorialTitle {
  display: none;
  border-bottom: 3px dotted #f0f0f0;
}

.topics .section.level2 {
  display: none;
  margin-bottom: 40px;
}

.topics .section.level2.current {
  display: block;
}

.topicsContainer {
  width: 23%;
  min-width: 270px;
  margin-right: 2%;
  z-index: 100;
}

.topicsPositioner {
  position: fixed;
  left: 0px;
  width: 100%;
  height: 0px;
  background-color: pink;
}

.topicsList {
  float: left;
  position: relative;
  width: 23%;
  min-width: 270px;
  overflow: auto;
  height: auto;
  scroll-behavior: smooth;
  transform: translateZ(0); /* force repaint to work on older browser used in the IDE */
}

.topicsHeader {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;

  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
}

.topicsFooter {
  margin-top: 10px;
  padding-bottom: 20px;
}

.topicsFooter .resetButton {
  padding-left: 10px;
  font-size: .66em;
  cursor: pointer;
  opacity: .7;
}

.topicsFooter .resetButton:hover {
  opacity: 1;
}

.topicsList .topic {
  line-height: 40px;
  font-size: 15px;
  padding-left: 10px;
  cursor: pointer;

  background-repeat: no-repeat;
  background-size: 2px 80px;
  background-position: left 100%;
  background-image: url(images/topicProgress.png);
  border-bottom: 1px solid #f8f8f8;

  -webkit-transition-property: background-position;
  transition-property: background-position;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.topicsList .topic:hover {
  background-color: #fcfcfc;
}

.topicsList .topic.current {
  background-color: #f8f8f8;
}

.section.level3 {
  margin-bottom: 40px;
}

.paneCloser {
  display: none;
  height: 30px;
  width: 30px;
  background: url(images/close.svg) no-repeat center center;
  background-size: 30px 30px;
  border-radius: 15px;
  position: relative;
  top: 8px;
}

.paneCloser:hover {
  background-color: rgba( 0, 0, 0, .05);
}

.section.level3.hide {
  display: none;
}

.section.level3.done h3 {
  padding-left: 25px;
  background-image: url(images/exerciseDone.svg);
  background-size: 20px 20px;
  background-position: left center;
  background-repeat: no-repeat;
}

.exerciseActions {
  margin: 20px 0;
}

.skip {
  display: none;
}

.showSkip .skip {
  display: inline-block;
}

.topicActions {
  margin-top: 20px;
}

.topicActions button {
  margin-right: 10px;
}

.section.level2.hideActions .topicActions {
  display: none;
}

#doc-metadata {
  margin-bottom: 10px;
  line-height: 1.6em;
}

#doc-metadata h3 {
  margin: 0;
  font-size: 1.2em;
  line-height: 2em;
}

#doc-metadata h4 {
  margin: 0;
  font-size: 1em;
  line-height: 1.6em;
}

#doc-metadata em {
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .topics {
    width: 99%;
  }

  .topics .tutorialTitle {
    display: block;
    cursor: pointer;
  }

  .topicsContainer {
    width: 1%;
    min-width: 1px;
    margin-right: 0;
  }

  .topicsList {
    padding: 0px 10px 20px 1%;
    background-color: rgba(255, 255, 255, 0.98);

    box-shadow: 0 5px 25px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 25px 0px rgba(0, 0, 0, 0.15);
  }

  .topicsList.hideFloating {
    display: none;
  }

  .paneCloser {
    display: inline-block;
  }
}

/* override the width to be 100%, not 300px wide */
.shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
}
