.anidemo {
	width: auto;
	margin: auto;
	font-family: sans-serif;
	font-size: 12px;
}
.anidemo input{
	font-family: monospace;
	background-color: #FFFFFF;
}
.anidemo input.anibutton{
	font-weight: bold;
}

.anidemo input.text {
	border: 1px solid #666666;
}

.anidemo fieldset {
	padding: 0.5em;
	width: auto;
	border: 1px solid #FF0000;
}

.anidemo legend {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 140%;
}

.loading {
	color: #FFFFFF;
	background-color: #990000;
	padding: 2px;
	width: auto;
	float: left;
	text-align: left;
}

.divPreload {
	height: 150px;
	width: 100%;
}

.divFrame {
	display: none;
}


.anidemo .btncontrol{
	margin: 5px auto 5px auto;
}


.anidemo .morepar{
	display: none;
	margin-bottom: 5px;
}

.anidemo .description {
	text-align: left;
	border-top: 1px	dashed #FF0000;
	padding-top: 0.5em;
}

.anidemo .footer {
	text-align: left;
	padding-top: 0.5em;
}

a {
	text-decoration: none;
}