on: push

name: Continuous Benchmarks

jobs:
  build:
    runs-on: ubuntu-16.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@master

      - name: Setup R
        uses: r-lib/actions/setup-r@master
        with:
          r-version: 'release'

      - name: Install system dependencies
        if: runner.os == 'Linux'
        env:
          RHUB_PLATFORM: linux-x86_64-ubuntu-gcc
        run: |
          Rscript -e "remotes::install_github('r-hub/sysreqs')"
          sysreqs=$(Rscript -e "cat(sysreqs::sysreq_commands('DESCRIPTION'))")
          sudo -s eval "$sysreqs"

      - name: Install dependencies
        run: |
          install.packages("remotes")
          remotes::install_deps(dependencies = TRUE)
          remotes::install_github("r-lib/bench")
        shell: Rscript {0}

      - name: Install package
        run: R CMD INSTALL .

      - name: Fetch existing benchmarks
        run: Rscript -e 'bench::cb_fetch()'

      - name: Run benchmarks
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          Rscript -e 'bench::cb_run()'

      - name: Show benchmarks
        run: git notes --ref benchmarks show

      - name: Push benchmarks
        run: Rscript -e "bench::cb_push()"
